@page
@model ParcialLenguajeInformatico.Pages.Consultas.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Consulta.Id" />
            <div class="form-group">
                <label asp-for="Consulta.NombreConsulta" class="control-label"></label>
                <input asp-for="Consulta.NombreConsulta" class="form-control" />
                <span asp-validation-for="Consulta.NombreConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consulta.Fecha" class="control-label"></label>
                <input asp-for="Consulta.Fecha" class="form-control" />
                <span asp-validation-for="Consulta.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consulta.NombreMedico" class="control-label"></label>
                <input asp-for="Consulta.NombreMedico" class="form-control" />
                <span asp-validation-for="Consulta.NombreMedico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consulta.Observacion" class="control-label"></label>
                <input asp-for="Consulta.Observacion" class="form-control" />
                <span asp-validation-for="Consulta.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consulta.PacienteId" class="control-label"></label>
                <select asp-for="Consulta.PacienteId" asp-items="Model.Pacientes" class="form-control">
                    <option value="">Select Pacientes</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>